{% extends "base.html" %} 
{% load  widget_tweaks %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
</head>

{% block content%}

<div class="bg-white-100 min-h-screen p-8">
    <div class="mb-8 bg-white">
        <h1 class="text-4xl font-bold text-center text-indigo-600">Les actualités de 2025</h1>
        <p class="text-center text-gray-700 mt-2">Découvrez les astuces pour améliorer votre santé et celle de votre compte en banque</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Article 1 -->
        <a href="https://www.santemagazine.fr/actualites/actualites-sante/voici-7-facons-surprenantes-de-faire-de-2025-une-annee-en-bonne-sante-1109118" target="résolutions" class="block bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition transform hover:-translate-y-1">
            <h2 class="text-xl font-bold text-gray-800">Les résolutions de 2025</h2>
            <p class="text-gray-600 mt-2">Les 7 conseils de l'année 2025 côté santé d'après Santé magazine, le nécessaire pour commencer l'année du bon sabot !</p>
        </a>

        <!-- Article 2 -->
        <a href="https://www.banquemondiale.org/fr/news/press-release/2025/01/16/gep-january-2025-press-release" target="économie" class="block bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition transform hover:-translate-y-1">
            <h2 class="text-xl font-bold text-gray-800">Economie : à quoi s'attendre en 2025?</h2>
            <p class="text-gray-600 mt-2">Après une année 2024 compliquée, le soleil semble se lever sur le ciel de l'économie mondiale... Enfin surtout pour les pays riches. Ne passer pas à côté de cet article si vous ne voulez pas perdre d'argents en investissant dans un pays en développement !<p>
        </a>

        <!-- Article 3 -->
        <a href="https://www.topsante.com/minceur/regimes-minceur/autres-regimes/meilleur-regime-2023-629983" target="régimes" class="block bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition transform hover:-translate-y-1">
            <h2 class="text-xl font-bold text-gray-800">Contrôlez votre poids, contrôlez le prix de votre assurance </h2>
            <p class="text-gray-600 mt-2">Top santé vous propose comme chaque année le classement des meilleurs régimes à suivre. Vous voulez retrouver votre corps de licorne de rêve ? Allez-y jeter un oeil !</p>
        </a>

        <!-- Article 4 -->
        <a href="https://fr.wikipedia.org/wiki/Chasse_%C3%A0_la_licorne" target="chasse" class="block bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition transform hover:-translate-y-1">
            <h2 class="text-xl font-bold text-gray-800">La chasse à la licorne</h2>
            <p class="text-gray-600 mt-2">Vous cherchez les informations concernant l'ouverture de la chasse à la licorne? Retrouvez toutes les informations pratiques dans cet article.</p>
        </a>
    </div>
</div>

{% endblock %}