{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		{% include "includes/header.html" %}
	</head>

	<body class="bg-center bg-no-repeat bg-cover" style="
		background-image: url('{% static "/css/dist/Coloriage-licorne-cabree.webp" %}');
		background-color: rgba(255, 255, 255, 0.5);
		background-position: center;
		background-repeat: no;
		background-size: contain;
		height: 100vh; /* Taille de la page en hauteur */
		opacity: 0.95;
		z-index: -1;
		background-blend-mode: luminosity;">
		
    <main>
        {% block content %}{% endblock %}
    </main>	
	</body>
	{% include "includes/footer.html" %}
</html>
