{% extends "base.html" %} 
{% load  widget_tweaks %}
{% load static tailwind_tags %}

{% block content%}
<script src="https://cdn.tailwindcss.com"></script>
<body>
    <div class="bg-white">
        <br></br>
        <h1 class="text-3xl font-bold text-center">Bienvenue sur Assur'AImant</h1>
        <br></br>
        {% if user.is_authenticated %}
            {% comment %} <p class="text-center">Bonjour {{ user.first_name }} {{ user.last_name }} !</p> {% endcomment %}
            <br></br>
            <div class="text-center text-xl">
                <a href="{% url 'profil' %}" class="btn">Voir mon profil</a>
                <br></br>
                <form method="POST" action="{% url 'deconnexion' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn text-center text-xl">Se déconnecter</button><br></br>
                </form>
            </div>
        {% else %}
            <p class="text-center">Veuillez vous connecter ou vous inscrire pour accéder à nos services.</p>
            <br></br>
            <div class="text-center text-xl">
                <a href="{% url 'connexion' %}" class="btn">Connexion</a>
                <a href="{% url 'inscription' %}" class="btn">Inscription</a>
            </div>
        {% endif %}
    </div>
    <div class="flex flex-wrap justify-center gap-8 p-8">
        <div class="bg-white border border-gray-300 w-72 shadow-md rounded-xl p-4">
            <p class="text-gray-600">
                <span class="text-sm font-bold text-indigo-500">
                    “
                </span>
                Les licornes ont changé ma vie : Depuis j'aborde avec sérénité l'idée de porter des t-shirts roses !
                <span class="text-sm font-bold text-indigo-500">
                    ”
                </span>
            </p>
            <div class="flex items-center mt-4">
                <a href="#" class="relative block">
                    <img alt="profil" src="{% static '/css/dist/michou.jpg' %}" class="object-cover rounded-full h-10 w-10"/>
                </a>
                <div class="flex flex-col justify-between ml-2">
                    <span class="text-sm font-semibold text-indigo-500">
                        Michou
                    </span>
                    <span class="flex items-center text-xs text-gray-500">
                        Unicorner depuis 1982
                        <img src="{% static 'css/dist/logo_small.jpg' %}" style="width:10px; height:10px;"/>
                    </span>
                </div>
            </div>
        </div>
        <div class="bg-white border border-gray-300 w-72 shadow-md rounded-xl p-4">
            <p class="text-gray-600">
                <span class="text-sm font-bold text-indigo-500">
                    “
                </span>
                Difficile de se rappeler ce qu'était ma vie avant de passer chez Assur'AImant, mais pour rien au monde je n'y reviendrais.
                <span class="text-sm font-bold text-indigo-500">
                    ”
                </span>
            </p>
            <div class="flex items-center mt-4">
                <a href="#" class="relative block">
                    <img alt="profil" src="{% static '/css/dist/gisele.jpg' %}" class="object-cover rounded-full h-10 w-10"/>
                </a>
                <div class="flex flex-col justify-between ml-2">
                    <span class="text-sm font-semibold text-indigo-500">
                        Gisèle
                    </span>
                    <span class="flex items-center text-xs text-gray-500">
                        Unicorner depuis 2026
                        <img src="{% static 'css/dist/logo_small.jpg' %}" style="width:10px; height:10px;"/>
                    </span>
                </div>
            </div>
        </div>
        <div class="bg-white border border-gray-300 w-72 shadow-md rounded-xl p-4">
            <p class="text-gray-600">
                <span class="text-sm font-bold text-indigo-500">
                    “
                </span>
                Enfin une assurance qui me permet d'avoir une boite de Doliprane !
                <span class="text-sm font-bold text-indigo-500">
                    ”
                </span>
            </p>
            <div class="flex items-center mt-4">
                <a href="#" class="relative block">
                    <img alt="profil" src="{% static '/css/dist/jean_miguel.jpg' %}" class="object-cover rounded-full h-10 w-10"/>
                </a>
                <div class="flex flex-col justify-between ml-2">
                    <span class="text-sm font-semibold text-indigo-500">
                        Jean Miguel
                    </span>
                    <span class="flex items-center text-xs text-gray-500">
                        Unicorner depuis 2010
                        <img src="{% static 'css/dist/logo_small.jpg' %}" style="width:10px; height:10px;"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
    

</body>
{%  endblock  %}
</html>


